<!doctype html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="description" content="angular with webpack">
    <meta name="keywords" content="Angular,HTML5,CSS3,JavaScript,JSON, RESTful, Webgl, responsive, jQuery">
    <meta name="author" content="Naser Afsar">
  <title>filter</title>
  <link type="text/css" rel="stylesheet" href="style.css" >
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="script.js"> </script>
</head>
<body ng-app="myApp">
<div ng-controller="MyController as ctrl">
<label>Search: <input ng-model="searchText"></label>
<table class="lf" id="searchTextResults">
  <tr><th>Name</th><th>Phone</th></tr>
  <tr ng-repeat="friend in ctrl.myFriends | filter:searchText">
    
    <td ng-cloak>{{friend.name}}</td>
    <td ng-cloak>{{friend.phone}}</td>

  </tr>
</table>

</div>

</body>
</html>
